html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
}
input {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


h1 {
  font-size: 1.5rem;
  text-align: center;
}


main {
  overflow-y: scroll;
  height: 57vh;
}

.wrapper {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  margin: 10vh auto;
  @media (max-width: 411px) {
    margin: 0 auto;
  }
}

.screen {
  max-width: 411px;
  width: 411px;
  min-width: 320px;
  height: 80vh;
  background-color: white;

  margin: 0;
  border: 2px black solid;
  border-radius: 1rem;
  padding: .5rem 1rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;

  @media (max-width: 411px) {
    border: none;
  }
}
.sidescreen, .hiddenscreen {
  width: 0;
  padding: 0;
  min-width: unset;
  button {
    opacity: 0;
  }
}
.sidescreen {
  position: relative;
  z-index: 10;
  transition: .5s width ease-in-out;
  box-sizing: border-box;
}
.sidescreen.show {
  width: 411px;
  button {
    opacity: 1;
  }
}
.mainscreen.show {
  @media (max-width: 822px) {
    width: 0;
    padding: 0;
    min-width: unset;
    max-width: unset;
  }
}

.hide {
  display: none;
}
/*
{
  transition:;

  list-style: none;
  font-weight:;


}
*/
